[Unit]
Description={{ service.name }} service

[Service]
User={{ service.user }}
Group={{ service.group }}
ExecStart={{ service.cmd }} {{ service.opts|default(service_opts) }}

[Install]
WantedBy=multi-user.target
