{% set space = joiner(" ") %}
CONSUL_FLAGS="{% if consul_multiple_ip %}-bind={{ consul_default_ip }} {% endif %}-bootstrap-expect={{ ansible_play_hosts|length }} {% for host in ansible_play_hosts %}{% if not hostvars[host].ansible_host == ansible_host %}{{ space() }}-retry-join={{ hostvars[host].ansible_host }}{% endif %}{% endfor %}"
