#!/bin/bash

# Install ceph packages
{% set space0 = joiner(' ') %}
ceph-deploy install {% for SVR in groups[CEPH_ADMIN] %}{{ space0() }}{{ hostvars[SVR].inventory_hostname }}{% endfor %} --release nautilus --cli --gpg-url https://mirror.croit.io/keys/release.asc --repo-url https://mirror.croit.io/debian-nautilus/

{% set space1 = joiner(' ') %}
ceph-deploy install {% for SVR in groups[CEPH_MONITOR] %}{{ space1() }}{{ hostvars[SVR].inventory_hostname }}{% endfor %} --release nautilus --mon --gpg-url https://mirror.croit.io/keys/release.asc --repo-url https://mirror.croit.io/debian-nautilus/

{% set space2 = joiner(' ') %}
ceph-deploy install {% for SVR in groups[CEPH_MANAGER] %}{{ space2() }}{{ hostvars[SVR].inventory_hostname }}{% endfor %} --release nautilus --mgr --gpg-url https://mirror.croit.io/keys/release.asc --repo-url https://mirror.croit.io/debian-nautilus/

{% set space3 = joiner(' ') %}
ceph-deploy install {% for SVR in groups[CEPH_RADOSGW] %}{{ space3() }}{{ hostvars[SVR].inventory_hostname }}{% endfor %} --release nautilus --rgw --gpg-url https://mirror.croit.io/keys/release.asc --repo-url https://mirror.croit.io/debian-nautilus/

{% set space4 = joiner(' ') %}
ceph-deploy install {% for SVR in groups[CEPH_METADATA] %}{{ space4() }}{{ hostvars[SVR].inventory_hostname }}{% endfor %} --release nautilus --mds --gpg-url https://mirror.croit.io/keys/release.asc --repo-url https://mirror.croit.io/debian-nautilus/

{% set space5 = joiner(' ') %}
ceph-deploy install {% for SVR in groups[CEPH_OSD] %}{{ space5() }}{{ hostvars[SVR].inventory_hostname }}{% endfor %} --release nautilus --osd --gpg-url https://mirror.croit.io/keys/release.asc --repo-url https://mirror.croit.io/debian-nautilus/

# Initialize ceph monitor
ceph-deploy mon create-initial

sleep 30

ceph-deploy gatherkeys {{ hostvars[groups[CEPH_MONITOR][0]].ansible_hostname }}

ceph-deploy --overwrite-conf config pull {{ hostvars[groups[CEPH_MONITOR][0]].ansible_hostname }}

{% set comma0 = joiner(',') %}
sed -i 's/mon_initial_members = {{ hostvars[groups[CEPH_MONITOR][0]].ansible_hostname }}/mon_initial_members = {% for SVR in groups[CEPH_MONITOR] %}{{ comma0() }}{{ hostvars[SVR].ansible_hostname }}{% endfor %}/g' ceph.conf

ceph-deploy --overwrite-conf config push {{ hostvars[groups[CEPH_MONITOR][0]].ansible_hostname }}

ssh {{ hostvars[groups[CEPH_MONITOR][0]].ansible_hostname }} sudo systemctl restart ceph-mon@{{ hostvars[groups[CEPH_MONITOR][0]].ansible_hostname }}

# Configure ceph admin
{% for SVR in groups[CEPH_ADMIN] %}
ceph-deploy --overwrite-conf config pull {{ hostvars[groups[CEPH_MONITOR][0]].ansible_hostname }}

sed -i 's/public_addr = {{ hostvars[groups[CEPH_MONITOR][0]].ansible_default_ipv4.address }}/public_addr = {{ hostvars[SVR].ansible_default_ipv4.address }}/g' ceph.conf

ceph-deploy --overwrite-conf config push {{ hostvars[SVR].ansible_hostname }}

ceph-deploy --overwrite-conf admin {{ hostvars[SVR].ansible_hostname }}
{% endfor %} 

# Configure ceph monitor
{% for ID in range(1,groups[CEPH_MONITOR]|length) %}
ceph-deploy --overwrite-conf config pull {{ hostvars[groups[CEPH_MONITOR][0]].ansible_hostname }}

sed -i 's/public_addr = {{ hostvars[groups[CEPH_MONITOR][0]].ansible_default_ipv4.address }}/public_addr = {{ hostvars[groups[CEPH_MONITOR][ID]].ansible_default_ipv4.address }}/g' ceph.conf

ceph-deploy --overwrite-conf config push {{ hostvars[groups[CEPH_MONITOR][ID]].ansible_hostname }}

ceph-deploy --overwrite-conf admin {{ hostvars[groups[CEPH_MONITOR][ID]].ansible_hostname }}

ceph-deploy mon add {{ hostvars[groups[CEPH_MONITOR][ID]].ansible_hostname }}
{% endfor %} 

# Configure ceph manager
{% for SVR in groups[CEPH_MANAGER] %}
ceph-deploy --overwrite-conf config pull {{ hostvars[groups[CEPH_MONITOR][0]].ansible_hostname }}

sed -i 's/public_addr = {{ hostvars[groups[CEPH_MONITOR][0]].ansible_default_ipv4.address }}/public_addr = {{ hostvars[SVR].ansible_default_ipv4.address }}/g' ceph.conf

ceph-deploy --overwrite-conf config push {{ hostvars[SVR].ansible_hostname }}

ceph-deploy --overwrite-conf admin {{ hostvars[SVR].ansible_hostname }}

ceph-deploy mgr create {{ hostvars[SVR].ansible_hostname }}
{% endfor %}

# Configure ceph osd
{% for SVR in groups[CEPH_OSD] %}
ceph-deploy --overwrite-conf config pull {{ hostvars[groups[CEPH_MONITOR][0]].ansible_hostname }}

sed -i 's/public_addr = {{ hostvars[groups[CEPH_MONITOR][0]].ansible_default_ipv4.address }}/public_addr = {{ hostvars[SVR].ansible_default_ipv4.address }}/g' ceph.conf

ceph-deploy --overwrite-conf config push {{ hostvars[SVR].ansible_hostname }}

ceph-deploy --overwrite-conf admin {{ hostvars[SVR].ansible_hostname }}

{% for DISK in OSD_DISKS %}
ceph-deploy osd create --zap-disk --data /dev/{{ DISK }} {{ hostvars[SVR].ansible_hostname }}

{% endfor %}
{% endfor %}

# Configure ceph rgw
{% for SVR in groups[CEPH_RADOSGW] %}
ceph-deploy --overwrite-conf config pull {{ hostvars[groups[CEPH_MONITOR][0]].ansible_hostname }}

sed -i 's/public_addr = {{ hostvars[groups[CEPH_MONITOR][0]].ansible_default_ipv4.address }}/public_addr = {{ hostvars[SVR].ansible_default_ipv4.address }}/g' ceph.conf

ceph-deploy --overwrite-conf config push {{ hostvars[SVR].ansible_hostname }}

ceph-deploy --overwrite-conf admin {{ hostvars[SVR].ansible_hostname }}

ceph-deploy rgw create {{ hostvars[SVR].ansible_hostname }}
{% endfor %}

# Configure ceph metadata
{% for SVR in groups[CEPH_METADATA] %}
ceph-deploy --overwrite-conf config pull {{ hostvars[groups[CEPH_MONITOR][0]].ansible_hostname }}

sed -i 's/public_addr = {{ hostvars[groups[CEPH_MONITOR][0]].ansible_default_ipv4.address }}/public_addr = {{ hostvars[SVR].ansible_default_ipv4.address }}/g' ceph.conf

ceph-deploy --overwrite-conf config push {{ hostvars[SVR].ansible_hostname }}

ceph-deploy --overwrite-conf admin {{ hostvars[SVR].ansible_hostname }}

ceph-deploy mds create {{ hostvars[SVR].ansible_hostname }}
{% endfor %}
