#!/bin/bash

{% set space0 = joiner(' ') %}
ceph-deploy purge {% for SVR in groups[CEPH_MONITOR] %}{{ space0() }}{{ hostvars[SVR].inventory_hostname }}{% endfor %}

{% set space1 = joiner(' ') %}
ceph-deploy purge {% for SVR in groups[CEPH_MANAGER] %}{{ space1() }}{{ hostvars[SVR].inventory_hostname }}{% endfor %}

{% set space2 = joiner(' ') %}
ceph-deploy purge {% for SVR in groups[CEPH_OSD] %}{{ space2() }}{{ hostvars[SVR].inventory_hostname }}{% endfor %}

{% set space3 = joiner(' ') %}
ceph-deploy purge {% for SVR in groups[CEPH_RADOSGW] %}{{ space3() }}{{ hostvars[SVR].inventory_hostname }}{% endfor %}

{% set space4 = joiner(' ') %}
ceph-deploy purge {% for SVR in groups[CEPH_METADATA] %}{{ space4() }}{{ hostvars[SVR].inventory_hostname }}{% endfor %}

{% set space5 = joiner(' ') %}
ceph-deploy purgedata {% for SVR in groups[CEPH_MONITOR] %}{{ space5() }}{{ hostvars[SVR].inventory_hostname }}{% endfor %}

{% set space6 = joiner(' ') %}
ceph-deploy purgedata {% for SVR in groups[CEPH_MANAGER] %}{{ space6() }}{{ hostvars[SVR].inventory_hostname }}{% endfor %}

{% set space7 = joiner(' ') %}
ceph-deploy purgedata {% for SVR in groups[CEPH_OSD] %}{{ space7() }}{{ hostvars[SVR].inventory_hostname }}{% endfor %}

{% set space8 = joiner(' ') %}
ceph-deploy purgedata {% for SVR in groups[CEPH_RADOSGW] %}{{ space8() }}{{ hostvars[SVR].inventory_hostname }}{% endfor %}

{% set space9 = joiner(' ') %}
ceph-deploy purgedata {% for SVR in groups[CEPH_METADATA] %}{{ space9() }}{{ hostvars[SVR].inventory_hostname }}{% endfor %}

ceph-deploy forgetkeys

rm ceph.*
