{
{% if consul_acl %}
  "acl_datacenter": "{{ consul_dc }}",
  "acl_down_policy": "extend-cache",
  "acl_default_policy": "deny",
{% endif %}
  "data_dir": "{{ consul_data_dir }}",
  "datacenter": "{{ consul_dc }}",
{% if consul_auth %}
  "encrypt": "{{ consul_key }}",
{% endif %}
{% if bootstrap_consul_srv %}
{% set comma = joiner(", ") %}
  "addresses":
  {
    "dns": "0.0.0.0",
    "http": "0.0.0.0"
  },
  "bind_addr": "0.0.0.0",
{% if consul_domain is defined %}  "domain": "{{ consul_domain }}",{% endif %}

  "ports":
  {
    "dns": {{ consul_ports['dns']|int }},
    "http": {{ consul_ports['http']|int }},
    "https": {{ consul_ports['https']|int }},
    "grpc": {{ consul_ports['grpc']|int }},
    "serf_lan": {{ consul_ports['serf_lan']|int }},
    "serf_wan": {{ consul_ports['serf_wan']|int }},
    "server": {{ consul_ports['server']|int }}
  },
  "server": true,
{% if hostvars[groups[target_hosts][0]].ansible_default_ipv4.address != ansible_default_ipv4.address %}
  "start_join": [{% for SVR in groups[target_hosts] %}{% if not hostvars[SVR].ansible_default_ipv4.address == ansible_default_ipv4.address %}{{ comma() }}"{{ hostvars[SVR].ansible_default_ipv4.address }}"{% endif %}{% endfor %}],
{% endif %}
  "ui": true,
{% endif %}
  "log_level": "WARN",
  "leave_on_terminate": true,
  "enable_syslog": true
}
