{% set comma = joiner(",\n") %}
{
  "node_meta":
  {
{% for META in CONSUL_NODE_META %}{{ comma() }}{% for META_KEY, META_VALUE in META.items() %}    "{{ META_KEY }}": "{{ META_VALUE }}"{% endfor %}{% endfor %}

  }
}
