{% set comma = joiner(", ") %}
{
  "service":
  {
    "name": "{{ item['name'] }}",
    "tags": [{% for TAG in item['tags'] %}{{ comma() }}"{{ TAG }}"{% endfor %}, "{{ ansible_hostname|lower }}", "{{ ansible_distribution|lower }}", "{{ ansible_distribution_release|lower }}"{% if CONSUL_SVC|length|int == 1 and CONSUL_SVC[0]['name'] == 'node-exporter' %}, "info=idle"{% endif %}], 
    "port": {{ item['port'] }},
    "check": {
      "{{ item['type'] }}": "{{ item['address']|default('') }}{% if item['type'] == 'tcp' %}:{{ item['port'] }}{% endif %}",
      "interval": "{{ item['interval']|default('10s') }}",
      "timeout": "{{ item['timeout']|default('1s') }}"
    }
  }
}
