{% set comma1 = joiner(",") %}
{
  "services": [
    {% for SVC in CONSUL_SVC %}{% if item == SVC['name'] %}{{ comma1() }}{% set comma2 = joiner(", ") %}{
      "id": "{{ SVC['id'] }}",
      "name": "{{ SVC['name'] }}",
      "tags": [{% for TAG in SVC['tags'] %}{{ comma2() }}"{{ TAG }}"{% endfor %}, "{{ ansible_hostname|lower }}", "{{ ansible_distribution|lower }}", "{{ ansible_distribution_release|lower }}"], 
      "port": {{ SVC['port'] }},
      "check": {
        "{{ SVC['type'] }}": "{{ SVC['address']|default('') }}{% if SVC['type'] == 'tcp' %}:{{ SVC['port'] }}{% endif %}",
        "interval": "{{ SVC['interval']|default('10s') }}",
        "timeout": "{{ SVC['timeout']|default('1s') }}"
      }
    }{% endif %}
{% endfor %}

  ]
}
