{
  "acl_token": "{% if acl_token is defined %}{{ acl_token.json.ID }}{% else %}{{ consul_acl_token }}{% endif %}",
  "acl_agent_token": "{% if acl_agent_token is defined %}{{ acl_agent_token.json.ID }}{% else %}{{ consul_acl_agent_token }}{% endif %}",
  "acl_master_token": "{% if acl_master_token is defined %}{{ acl_master_token.json.ID }}{% else %}{{ consul_acl_master_token }}{% endif %}"
}
